{% extends "layouts/base.html" %}
{% block title %} Add/Update Club {% endblock %}

{% block content %}
<h3>{{ title }}</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Club Name:</label>
    <input type="text" id="name" name="name" value="{{ club.name|default_if_none:'' }}" required />
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" value="{{ club.location|default_if_none:'' }}" required />
    <br>
    <label for="sport">Sport:</label>
    <select id="sport" name="sport" required>
        {% for sport in sports %}
        <option value="{{ sport.id }}" {% if club.sport_id == sport.id %}selected{% endif %}>{{ sport.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" />
    <br>
    <button type="submit">{{ button_text }}</button>
</form>
{% endblock content %}
