{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <header>
        <h1>Qasim Sports Clubs - Club List</h1>
        <a href="{% url 'add_club' %}">Add new Club</a>
    </header>
    <ul>
        {% for club in clubs %}
        <li>
            <div class="club-info">
                {% if club.image %}
                <img src="{{ club.image.url }}" alt="{{ club.name }}" />
                {% endif %}
                <div>
                    <div class="club-details">
                        <div>
                            <h2>{{ club.name }}</h2>
                            <p>{{ club.sport }}</p>
                        </div>
                        <div>
                            <p>ID: {{ club.id }}</p>
                            <p>Location: {{ club.location }}</p>
                            <a href="./{{ club.id }}">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
