{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<h1>Qasim Sports Clubs - Club List</h1>
<a href="./addClub">Add new Club</a>
<ul>
    {% for club in clubs %}
    <li>
        <h2>{{ club.name }} - {{ club.sport }}</h2>
        <img src="{% static club.image %}" alt="{{ club.name }}" style="width: 200px; height: auto;" />
        <p>ID: {{ club.id }}</p>
        <p>Location: {{ club.location }}</p>
        <a href="./{{ club.id }}">View details</a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
