{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container club-details">
    <h1>Qasim Sports Clubs - Club Details</h1>
    <h2>Club Name:</h2>
    <p>{{ club.name }}</p>
    <h2>Club ID:</h2>
    <p>{{ club.id }}</p>
    <h2>Club Location:</h2>
    <p>{{ club.location }}</p>
    <!-- If there's an image field, display it -->
    {% if club.image %}
    <div class="club-image" >

        <img src="{{ club.image.url }}" alt="{{ club.name }}" class="club-image" />
    </div>
    {% endif %}
    <!-- Edit button -->
    <a href="{% url 'edit_club' club.id %}" class="edit-button">Edit Club</a>
    <table>
        <tr>
           <form method="POST" action="{% url 'delete_club' club.id %}">
              {% csrf_token %}
              <td>
                 <label style="color:firebrick;" for="input_check">
                 <input style="vertical-align: -2px;" type="checkbox" id="input_check" name="delete_checked" />
                 <b>Delete club</b>
                 </label>
              </td>
              <td>
                 <input type="text" id="input_text" name="delete_keyword" placeholder="write DELETE" />
              </td>
              <td>
                 <button type="submit" id="delete_button" name="delete">Delete</button>
              </td>
           </form>
        </tr>
     </table>
</div>

{% block javascripts %}

<script>
    const check = document.querySelector('#input_check');
    const keyword = document.querySelector('#input_text');
    const button = document.querySelector('#delete_button');

    button.style.visibility = 'hidden';
    keyword.style.visibility = 'hidden';
   
    check.addEventListener('change', () => {
     if (check.checked) {
         keyword.style.visibility = 'visible';
         button.style.visibility = 'visible';
     } else {
       keyword.style.visibility = 'hidden';
       button.style.visibility = 'hidden';
     }
    });
  </script>

{% endblock javascripts %}
{% endblock content %}


