{% extends "layouts/base.html" %}



{% block stylesheets %}

<style>
    table,
    th,
    td {
        border: 1px solid green;
        border-collapse: collapse;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<p>Formating tags example</p>
<p> This text has <b>subtext</b> using b tag</p>
<p> This text has <strong>subtext</strong> using strong tag</p>
<p> This text has <i>subtext</i> using i tag</p>
<p> This text has <em>subtext</em> using em tag</p>
<p> This text has <small>subtext</small> using small tag</p>
<p> This text has <mark>subtext</mark> using mark tag</p>
<p> This text has <del>subtext</del> using del tag</p>
<p> This text has <ins>subtext</ins> using ins tag</p>
<p> This text has X<sub>subtext</sub> using sub tag</p>
<p> This text has X<sup>subtext</sup> using sup tag</p>
<hr />

<p>Listing tags example</p>
<p>Some fruits:</p>
<ul>
    <li>Grape</li>
    <li>Citrus</li>
    <ul>
        <li>Orange</li>
        <ol>
            <li>Enhance immunity</li>
            <ul>
                <li>Because of Vitamin C, producing white blood cells is increased</li>
            </ul>
            <li>Roost brain function</li>
        </ol>
        <li>Lemon</li>
    </ul>
    <li>Apple</li>
    <ol>
        <li>Prevent inflammation</li>
        <li>Improve digestive health</li>
    </ol>
    <li>Banana</li>
</ul>
<hr />

<p>Table tags example</p>
<table>
    <caption>Table 1: order details of customer 1234567</caption>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
    </tr>
    <tr>
        <td>Orange</td>
        <td>15</td>
        <td>2</td>
        <td>30</td>
    </tr>
    <tr>
        <td>Lemon</td>
        <td>6</td>
        <td>1.50</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Apple</td>
        <td>15</td>
        <td>2.5</td>
        <td>37.5</td>
    </tr>
</table>
<hr />

<p>Table tags with styling</p>
<table id="table1512" style="border: 1px solid black;border-collapse:collapse;">
    <caption>Table 1: order details of cusomter 1234567</caption>
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">Item</th>
        <th style="border: 1px solid black;">Quantity</th>
        <th style="border: 1px solid black;">Unit Price</th>
        <th style="border: 1px solid black;">Total Price</th>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Orange</td>
        <td style="border: 1px solid black;">15</td>
        <td style="border: 1px solid black;">2</td>
        <td style="border: 1px solid black;">30</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Lemon</td>
        <td style="border: 1px solid black;">6</td>
        <td style="border: 1px solid black;">1.50</td>
        <td style="border: 1px solid black;">9</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Apple</td>
        <td style="border: 1px solid black;">15</td>
        <td style="border: 1px solid black;">2.5</td>
        <td style="border: 1px solid black;">37.5</td>
    </tr>
</table>
<hr />


<p>Coding table challenge example</p>
<table>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td colspan="2">6</td>
        <td>7</td>
    </tr>
    <tr>
        <td>8</td>
        <td>9</td>
        <td rowspan="2">10</td>
        <td>11</td>
    </tr>
    <tr>
        <td>12</td>
        <td>13</td>
        <td>14</td>
    </tr>
</table>

{% endblock content %}